<ul>
  <% if defined?(Devise) %>
    <li><a href="/auth_with_devise/">auth with Devise</a></li>
    <li><a href="/auth_with_devise/react" data-turbolinks="false">auth with Devise in react</a></li>
  <% end %>
  <% if defined?(Clearance) %>
    <li><a href="/auth_with_clearance/">auth with Clearance</a></li>
    <li><a href="/auth_with_clearance/react" data-turbolinks="false">auth with Clearance in react</a></li>
  <% end %>
</ul>
